body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
    text-align: center;
}

h1 {
    margin: 30px 0;
}

table {
    width: 70%;
    margin: auto;
    border-collapse: collapse;
    background: #1f2933;
}

th, td {
    padding: 15px;
    border-bottom: 1px solid #444;
}

th {
    background: #0f172a;
}

tr:hover {
    background: #334155;
}
